<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
	</head>
	<body ng-app="pokemonApp" ng-controller="MainController">

		<button id="getAll" ng-click="getPokemon()">Show All Pokemon</button>
		<br>
		<div id="allPokemon" ng-if="pokemon.length">
			<div ng-repeat="p in pokemon">
				<img ng-src="{{p.avatarUrl}}" class="sprite">
				<h3 ng-bind="{{p.name}}"></h3>
				<ul>
					<li>Type: {{p.type}}</li>
					<li>HP: {{p.hp}}</li>
					<li>Attack: {{p.attack}}</li>
					<li>Defense: {{p.defense}}</li>
				</ul>
				<hr>
			</div>
		</div>
		<script src="js/app.js"></script>
		<script src="js/controllers/MainController.js"></script>
	</body>
</html>
